@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sneakerland</h1>
    <p>Join US Today! <a> </a>.</p>

<div class="announcement announcement-adj slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1348px;" tabindex="-1" role="option" aria-describedby="slick-slide00" id="slick-slide00">
        <a href="https://www.jimmyjazz.com/collections/warehouse-blowout" style="color:#ffffff;" data-src="#message-bar-2" tabindex="-1">
          <span class="announcement__text" style="text-transform: uppercase; height: 40px; max-height: 40px; padding: 0px 1rem; background: rgb(236, 27, 46); font-size: 12px !important; text-decoration: inherit !important; color: rgb(255, 255, 255) !important; opacity: 1;">
            WAREHOUSE BLOWOUT EVENT - UP TO 70% OFF!
          </span>
        </a>

        <div style="display: none;" class="fancybox-content">
          <div class="message-bar" id="message-bar-2">
            
          </div>
        </div>
      </div>
</div>
